body{
    margin: 0%;
    padding: 0%;
}
.card{
    background-color: #dcf1f8;
    padding: 80px 15px 0;
    text-align: center;
}
.card-body{
    padding: 0%;
}
h3{
    max-width: 1080px;
    font-size: 46px;
    line-height: 1.2;
    margin: 0 auto;
    text-align: center;
    padding-top: 0%;
    
}
.card-text{
    margin-top: 40px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
}
ul{
    margin-top: 30px;
    margin-bottom: 30px;
    
    
}
li{
    
    float: left;
    text-decoration: none;
    margin-left: 20% ;
    margin-right: 16px;
    font-size: 18px;
    list-style: none;

}
img{
    margin-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    
}
.video-author{
    text-align: right;
    padding-right: 5%;
}
.icon-name{
    font-size: 25px;
    margin-right: 10px;
}